%cdg-button-basic
    color: $white
    background: $color-button

    &.active
        background: $color-button-active

    &.inactive,
    &[disabled]
        color: rgba($white, .4)
        background: $color-button-inactive
